.git
.gitignore
.env
.env.*
!.env.example

node_modules
**/node_modules
dist
**/dist
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
*.tsbuildinfo
.vite
.mypy_cache
.pytest_cache
.ruff_cache

audit
_playground
_temp
presentation/_output
.DS_Store
